
@{
    ViewData["Title"] = "Medcard";
}
<header class="header">
    <div class="logo">
        <a href="@Url.Action("Index", "Medcard")">
            <img src="~/img/logo.png" alt="VetAsist">
        </a>
    </div>
</header>
<h1 style="text-align: center; font-size:150px">404</h1><h2 style ="text-align: center; font-size:85px">Ошибка ввода, такой клички не существует!</h2>
