
@{
    ViewData["Title"] = "Medcard";
    Layout = "_Layout";
}
<div class="mask">
    <div class="loader">
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        let mask = document.querySelector('.mask');

        window.addEventListener('load', () => {
            setTimeout(() => {
                if (mask) {
                    mask.classList.add('hide');
                } else {
                    console.error('Element with class "mask" not found');
                }
            }, 1000); 
        });
    });
</script>
<header class="header">
    <div class="logo">
        <a href="@Url.Action("Index", "Medcard")">
            <img src="~/img/new-logo.png" alt="VetAsist">
        </a>
    </div>
    <div class="list-more">
        <div class="table-container" style="margin-bottom:30px; height:10em; width:10em; margin-top:30px; background-color:ghostwhite">
            <img class="qrcode" src="~/img/newqr.png" alt="VetAsist">
        </div>
        <button id="Add" type="submit" formmethod="post" class="btn-input" hidden="hidden">Изменить</button>
    </div>
</header>
<h1 style="text-align: center; font-size:150px">404</h1><h2 style ="text-align: center; font-size:85px">Ошибка ввода, такой клички не существует!</h2>
