@{
    ViewData["Title"] = "Print";
    Layout = "_Layout"; 
}

<head>
    <link rel="stylesheet" href="~/css/print.css" /> 
</head>
<div class="page-container">
    <!-- Шапка с логотипом и названием -->
    <header class="header">
        <div class="logo"><img src="images/logo.png" alt="VetAsist"></div>
        <h2>VetMedasist Клиника</h2>
    </header>

    <div class="table-container">
        <table>
            <!-- Основные поля с информацией, добавлены разделительные линии -->
            <tr>
                <td class="info-section">ФИО:</td>
                <td class="info-value editable" contenteditable="true"></td>
                <td class="info-section">Телефон:</td>
                <td class="info-value editable" contenteditable="true"></td>
            </tr>
            <tr>
                <td class="info-section">Кличка:</td>
                <td class="info-value editable" contenteditable="true"></td>
                <td class="info-section">Чип:</td>
                <td class="info-value editable" contenteditable="true"></td>
            </tr>
            <tr>
                <td class="info-section">Возраст:</td>
                <td class="info-value editable" contenteditable="true"></td>
                <td class="info-section">Порода:</td>
                <td class="info-value editable" contenteditable="true"></td>
            </tr>
        </table>

        <!-- Поля для дополнительных данных -->
        <div class="section-title">Препараты</div>
        <div class="editable" contenteditable="true"></div>

        <div class="section-title">Лечение</div>
        <div class="editable" contenteditable="true"></div>

        <div class="section-title">Рекомендации</div>
        <div class="editable" contenteditable="true"></div>
    </div>

    <!-- Подвал с контактной информацией -->
    <footer class="footer">
        <p class="footer-text">
            Адрес клиники: ул. Примерная, дом 10, город Кишинёв<br>
            Телефон: +37369775578<br>
            Email: info@vetmedasist.md
        </p>
    </footer>
</div>