# Игнорирование временных файлов Visual Studio
.vs
.suo
.user
.userosscache
.sln.docstates

# Игнорирование сборок
bin
obj

# Игнорирование временных файлов системы
.log
.tmp

# Игнорирование временных файлов и папок
*.cache
obj/

