﻿
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/authorization.css">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="icon" href="~/img/logo.png" />
</head>

<header class="header" style="justify-content:center;">
    <img class="logo" src="~/img/logo-removebg-preview.png" />
</header>
<body>
    @RenderBody()
</body>

</html>