.header {
    background-color: #20294a;
}

    .header .btn-input {
        width: 15rem;
        height: 3rem;
        border-radius: 10px;
        border: solid grey 1px;
        font-size: 1.2rem;
        transition: all ease .3s;
    }

        .header .btn-input:hover {
            background: lightblue;
        }

.logo, .logo img {
    width: 20em;
    height: 15em;
    margin-bottom: 2px;
}

.page-container {
    width: 100%;
    max-width: 800px; 
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
}

.header, .footer {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 150px;
    height: auto;
}

.table-container {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    table-layout: fixed; /* Ограничивает ширину ячеек */
}

th, td {
    padding: 8px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #ddd; /* Добавка границы для видимого разделения */
}

.info-section {
    background-color: #6c99ab;
    font-weight: bold;
    color: #ffffff;
    padding: 6px;
    width: 25%;
}

.info-value {
    background-color: #ffffff;
    width: 25%;
}

.editable {
    min-height: 40px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    outline: none;
    font-size: 14px;
}

    .editable:focus {
        background-color: #fbfbfb;
    }

.section-title {
    padding: 8px;
    background-color: #6c99ab;
    font-weight: bold;
    margin-top: 20px;
    color: #ffffff;
}

.footer-text {
    font-size: 12px;
    color: #333;
}
