

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes moving-background {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

body {
    width: 100%;
    height: auto;
    font-size: 10px;
    transition: all ease-in-out .3s;
    background-position: 0 -30px;
    background-image: url("../img/back-new.jpg");
}

.header {
    background-image: url(../img/back.jpg);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
    align-items: center;
    background-size: auto;
    background-position: 10px 30px;
    background-attachment: fixed;
    background-image: url("../img/back.jpg");
    background-repeat: repeat-x;
    animation: moving-background 40s linear infinite;
}


    .popup {
        z-index: 99;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
    }

    .disable {
        display: none !important;
    }

    .popup .popup__box {
        position: relative;
        margin: 0 auto;
        min-height: 400px;
        width: 30%;
        height: 46%;
        background: white;
        border-radius: 10px;
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 20px;
        padding-top: 30px;
    }

    .popup .popup__box input, .popup .popup__box button {
        width: 60%;
        height: 2rem;
        font-size: 1em;
        border-radius: 8px;
        background-image: url(../img/back-new-gray.jpg);
        background-size: cover;
    }

    .popup .popup__box input {
        background-image: url(../img/back.jpg);
    }

    .popup__box button:hover {
        background-image: url(../img/back.jpg);
        border-color: lightblue;
    }

    .popup .popup__box input::placeholder {
        background-image: url(../img/back-new-gray.jpg);
        border-color: lightblue;
    }

    .popup .popup__box button {
        background-image: url(../img/back-new-gray.jpg);
    }

    .popup .popup__box button:hover {
        background-image: url(../img/back.jpg);
    }

    .shadow {
        box-shadow: 0px 0px 70px grey;
    }

    .header {
        background-color: lightblue;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .header .btn-input {
        background-color: ghostwhite;
        width: 13rem;
        height: 4rem;
        border-radius: 12px;
        border: solid lightblue 1px;
        font-size: 1.6rem;
        transition: all ease .3s;
    }

    .header .btn-input:hover {
        background-color: whitesmoke;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e4f3f8;
        border-radius: 50%;
        margin-bottom: 7px;
        margin-top: 7px;
    }


    .logo, .logo img {
        width: 10em;
        height: 10em;
        padding: 14px;
        object-fit: contain;
    }

    .logo-string {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;
        margin-left: none;
    }

    .logo-string img {
        display: block;
        width: auto;
        height: 6em;
        justify-content: center;
    }


    @media (max-width: 1600px) {
        .logo-string {
        justify-content: start;
    }

        .logo-string img {
            margin-right: 40em;
            margin-left: 2em;
        }

    /*.header .btn-input {
        margin-right:10em;
    }*/
}
@media (min-width: 1601px) {
    .logo-string {
        justify-content: start;
        
    }

        .logo-string img {
            margin-right: 45em;
            margin-left: 2em;
        }

}

    .search {
        margin-top: 1em;
        padding: 15px;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: end;
    }

    .search-border {
        border: none;
        border-radius: 10px;
        background: white;
        font-size: 1rem;
        transition: all ease .3s;
    }

    .search .search__box {
        display: flex;
        justify-content: space-between;
        width: 30%;
        border: 1px solid lightblue;
    }

    .search .search__field__btn {
        width: 40%;
        height: 30px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: darkslategrey;
    }

        .search .search__field__btn:hover {
            background-color: whitesmoke;
        }

    .search .search__field__input {
        width: 60%;
        height: 100%;
        text-decoration: none;
        outline: none;
        padding-left: 15px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 1px solid lightblue;
        color: darkslategrey;
    }

        .search .search__field__input:hover {
            background-color: whitesmoke;
        }

        .search .search__field__input:focus {
            background-color: whitesmoke;
        }


    .list {
        margin: 20px 0 40px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        height: 80%;
        background-image: none;
    }

        .list .list__line-title {
            background-color: lightblue;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            color: darkslategrey;
            font-size: 1.6rem;
            background-image: none;
        }


        .list .list__wrapper {
            width: 90%;
            min-height: 750px;
            border-radius: 10px;
            background-image: none;
            background-color: white;
        }

        .list .list__lines, .list__line-title {
            display: flex;
            width: 100%;
            padding: 10px;
            justify-content: space-between;
            border-bottom: 1px solid lightblue;
            background-image: none;
            background-color: white;
        }

            .list .list__line-title p, .list .list__lines p {
                width: 20%;
                padding: 10px;
                text-align: center;
                border-right: 1px solid lightblue;
            }


            .list__line-title #no-border {
                border-right: none;
            }


        .list .list__param {
            width: 20%;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }

            .list .list__param div {
                background: white;
                cursor: pointer;
                border-radius: 5px;
            }

        .list .list__line-title p:first-child, .list .list__lines p:first-child {
            width: 20%;
            text-align: center;
            justify-content: center;
        }



    .list__more {
        border-radius: 6px;
        width: 65%;
        background-color: lightblue;
        color: white;
        border: none;
        padding: 10px;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
    }

    .list__send {
        display: flex;
        border-radius: 6px;
        width: auto;
        height: auto;
        background-color: lightblue;
        color: white;
        border: none;
        padding: 5px;
        text-decoration: none;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

        .list__send:hover {
            background-color: rgb(32, 41, 74);
            text-decoration: none;
            color: white;
        }

    #submit {
        height: 40px;
    }

    .list__more:hover {
        background-color: rgb(32, 41, 74);
        text-decoration: none;
        color: white;
    }

    .list__remove {
        border-radius: 5px;
        width: 65%;
        background-color: lightblue;
        color: white;
        border: none;
        padding: 10px;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
    }

        .list__remove:hover {
            background-color: #ab0237;
        }

    .list__more__edit {
        border-radius: 6px;
        width: 50%;
        background-color: lightblue;
        color: white;
        border: none;
        padding: 10px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }

        .list__more__edit:hover {
            background-color: rgb(32, 41, 74);
        }



    #searchForm {
        display: none;
    }

    .loader-container {
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 10%;
        justify-content: center;
        align-items: center;

    }

.loader {
    padding: 25px;
    margin: auto;
    width: 175px;
    height: 175px;
    border: 10px solid lightblue;
    border-radius: 50%;
    border-left-color: #20294a;
    animation: loader 1.3s linear infinite;

}

    @keyframes loader {
        100% {
            transform: rotate(360deg);
        }
    }



    .arrow {
        display: flex;
        position: fixed;
        bottom: 20px;
        right: 0px;
        width: 4em;
        height: 2em;
        height: 2em;
        justify-content: center;
        align-items: center;
    }



        .arrow img {
            width: 1em;
            height: 1em;
        }





    /*@media (max-width: 768px) {


        .header {
            flex-direction: column;
            align-items: center;
            padding: 10px;
        }

        .btn-input {
            z-index: 100;
            width: 100%;
            font-size: 1.4rem;
            height: 3rem;
        }

        .popup .popup__box {
            width: 90%;
            padding: 20px;
        }

        .logo img {
            width: 7em;
            height: 7em;
        }

        .list__more,
        .list__remove,
        .list__more__edit {
            width: 100%;
            font-size: 16px;
        }

        .list .list__wrapper {
            min-height: 500px;
        }*/
    }
.fixed-footer {
    font-size: 2em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}

.modal-toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    background-color: transparent;
}

.modal-content-toast {
    background: #fff;
    padding: 15px 20px;
    border-radius: 8px;
    min-width: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
    border-left: 5px solid #1e3956;
}