
<head>
    <link rel="icon" href="/img/ico-logo.png" />
    <link rel="stylesheet" href="css/more.css" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    <PageTitle>Клиент</PageTitle>
</head>

<header class="header" id="header">
    <div class="logo">
        <a href="/">
            <img src="/img/big-logo.png" alt="VetAsist">
        </a>
    </div>
</header>