

@{
    ViewData["Title"] = "Authorization";
    Layout = "_AuthLayout";
}

<!--создание контейнера-->
<div class="container">
    <div class="row">
        <!-- заголовок и описание -->
        <div class="col-md-12">
            <h2></h2>

            <!--форма авторизации-->
            <form method="post" action="Medcard/Index">
                <!--ввод e-mail-->
                <div class="form-group">
                    <label>Электронная почта</label>
                    <input type="email" name="email" class="form-control" required />
                </div>

                <!--поле ввода пароля-->
                <div class="form-group">
                    <label>Пароль</label>
                    <input type="password" name="password" class="form-control" required>
                </div>

                <!--кнопка отправки на сервер-->
                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-primary" value="Войти">
                </div>

            </form>
        </div>
    </div>
</div>