 @page "/Client"

@inject NavigationManager navigation
@inject IHttpClientFactory httpclientfactory

@rendermode InteractiveServer


<MoreLayout></MoreLayout>

<header class="header" id="header">
    <div class="logo">
        <a href="/">
            <img src="/img/logo.png" alt="vetasist">
        </a>
    </div>
    <div class="logo-string">
        <img src="/img/string-assistant-black.png" alt="vetasist">
    </div>
    <div class="buttons">
        <button class="btn-input" id="emailbutton" type="button" style="font-size:22px;"  target="_blank">Распечатать</button>
        <button class="btn-input" id="emailbutton" type="button" style="font-size:20px;">Email</button>
    </div>
</header>




@* <div class="loader-container">
    <div class="loader"></div>
</div> *@



    <div class="list-more">
        <div class="table-container">
            
                <table>
                    <tr>
                        <td class="info-section">Фио:</td>
                        <td class="info-value editable">medcardmodel.Name</td>
                        <td class="info-section">Телефон:</td>
                        <td class="info-value editable">medcardmodel.PhoneNumber</td>
                    </tr>
                    <tr>
                        <td class="info-section">Кличка:</td>
                        <td class="info-value editable">pet.</td>
                        <td class="info-section">Чип:</td>
                        <td class="info-value editable">pet.ChipNumber</td>
                    </tr>
                    <tr>
                        <td class="info-section">Возраст:</td>
                        <td class="info-value editable">pet.Age</td>
                        <td class="info-section">Порода:</td>
                        <td class="info-value editable">pet.Breed</td>
                    </tr>
                </table>
                
                
                    <div class="section-title">Препараты</div>
                    <textarea class="textarea-editable" contenteditable="true"
                              id="editablebiginput-pet.Id"
                              >
                </textarea>
                    <button class="section-footer-button">Изменить</button>
                
                
                <!-- лечение -->
                <div class="section-title">Лечение</div>
                <textarea class="textarea-editable" contenteditable="true"
                              id="editablebiginputpet.Id">
                  
                        treatment.Description
                 
                </textarea>
                    <button class="section-footer-button">Изменить</button>
                
                <!-- рекомендации -->
                <div class="section-title">Рекомендации</div>
                <textarea class="textarea-editable" contenteditable="true"
                              id="editablebiginput-">
                   
                        
                 
                    </textarea>
                    <button class="section-footer-button">Изменить</button>
                
            
        </div>
    </div>
    


@code {

    public OwnerModel medcardmodel { get; set; } = new();

}
